
/* -------------------- :root, body, and main divs -------------------- */

:root {
    /* colors */
    --color1: 163,124,64;
    --color2: 85,25,17;
    --color3: 201,166,198;
    --color4: 255,133,82;
    --color5: 181,226,250;
    --color6: 139,114,142;
    --color7: 218,254,183;
    --color8: 116,109,117;
    --color9: 247,195,60;
    --color10: 237,230,242;

        /* background */
        --background_transparency: 0.6;
        --background_color: rgba(var(--color1), var(--background_transparency));
        --background_ball_transparency: 0.1;
        --background_ball_color: rgba(var(--color2), var(--background_ball_transparency));

        /* banner */
        --banner_transparency: 0.7;
        --banner_color: rgba(var(--color3), var(--banner_transparency));

        /* content pages */
        --content_page_transparency: 0.15;
        --home_color: rgba(var(--color4), var(--content_page_transparency));
        --coding_color: rgba(var(--color5), var(--content_page_transparency));
        --timeline_color: rgba(var(--color6), var(--content_page_transparency));
        --brain_dump_color: rgba(var(--color7), var(--content_page_transparency));
            /* brain dump */
            --brain_dump_content_color: rgba(0,0,0, 0);
            --brain_dump_navbar_content_color: rgba(var(--color8), 0.7);
            --brain_dump_navbar_arrow_color: rgba(var(--color9), 1);
            --brain_dump_navbar_arrow_container_color: rgba(var(--color2), 0.7);
            --brain_dump_entry_navbar_color: rgba(var(--color8), 0.7);
            --brain_dump_entry_text_color: rgba(var(--color10), 0.7);

    /* positional */
    --banner_height: 8vh;

        /* content pages */
        --content_page_outline_thickness: 4px;
            /* brain dump */
            --brain_dump_navbar_width: 10vh;
            --brain_dump_navbar_active_width: 40%;
            --brain_dump_navbar_arrow_size: calc(0.9 * var(--brain_dump_navbar_width));
            --brain_dump_entry_height_inactive: 45%;
            --brain_dump_entry_height_active: 65%;
            --brain_dump_entry_width_inactive: 50%;
            --brain_dump_entry_width_active: 80%;
            --brain_dump_entry_navbar_height: 32px;
    
    /* animations */
    --general_button_animation_transition_time_small: 0.17s;
    
        /* content pages */
        --content_page_transition_time: 0.5s;
            /* brain dump */
            --brain_dump_navbar_transition_time: 0.5s;
            --brain_dump_entry_transition_time: 0.3s;
            --brain_dump_entry_corner_decoration: 40px;
}

/* html {
    height: -webkit-fill-available;
} */

body {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    /* min-height: -webkit-fill-available; */

    overflow: hidden;
    margin: 0%;
    font-family: "Calibri", Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

body > div {
    position: absolute;
}



/* -------------------- Background -------------------- */

#Background {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: var(--background_color);
    user-select: none;
    /* opacity: 0.85; */
}

.background_ball {
    position: absolute;
    width: 200vw;
    height: 200vh;

    border-radius: 50%;
    /* opacity: 0.1; */
    background-color: var(--background_ball_color);
}



/* -------------------- Banner -------------------- */

#Banner {
    top: 0%;
    left: 0%;
    width: 100%;
    height: var(--banner_height);

    display: flex;
    background-color: var(--banner_color);
    /* opacity: 0.7; */
}

#Banner div {
    display: flex;
}

#logo {
    height: 100%;
    width: 20%;

    align-items: center;
    overflow: hidden;
}

#logo img {
    max-height: 100%;
    max-width: 100%;
}

#navbar {
    height: 100%;
    width: 80%;

    align-items: flex-end;
    justify-content: flex-start;
}

#navbar > div {
    height: 50%;
    width: max(7.5vh, 10%);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: max(11px, min(18px, 1.5vw));
    white-space: nowrap;
    cursor: pointer;
}

#navbar > div:hover {
    transition-duration: 0.1s;
    text-decoration: underline;
}

#navbar p {
    user-select: none;
}

#navbar > div:hover .navbar_dot {
    opacity: 1;
    top: 35%;
    /* transition-duration: 0.1s; */
}

.navbar_dot {
    position: absolute;
    top: 75%;
    height: 8px;
    width: 8px;

    opacity: 0;
    border-radius: 50%;
    background: red;

    transition: all var(--general_button_animation_transition_time_small);
}



/* -------------------- Content -------------------- */

#Content {
    top: var(--banner_height);
    left: 0%;
    height: calc(100vh - var(--banner_height));
    width: 100%;
}

.content_page {
    position: absolute;
    height: 96%;
    width: 98%;
    display: flex;
    
    outline: rgb(255, 255, 255, 0.5) inset var(--content_page_outline_thickness);

    transition: all var(--content_page_transition_time);
}

#home {
    top: 2%;
    left: 1%;
    
    opacity: 1;
    background-color: var(--home_color);
}

#home.active {
    top: 102%;

    opacity: 0;
}

/* home screen terminal */
#term {
    height: 100%;
    width: 100%;

    --color: black;
    --background: transparent;
    --link-color: darkblue;
    font-size: max(4px, min(11px, 1.1vw));
    overflow: hidden;
}

#term pre {
    position: sticky;
    top: 0%;
    
    user-select: none;
}

.terminal-scroller {
    scrollbar-color: #aaa #000;
    scrollbar-color: var(--color, #aaa) var(--background, #000);
    scrollbar-width: thin;
}

#timeline {
    top: 102%;
    left: 1%;

    opacity: 0;
    background-color: var(--timeline_color);
}

#timeline.active {
    top: 2%;

    opacity: 1;
}

#coding {
    top: 2%;
    left: -101%;

    opacity: 0;
    background-color: var(--coding_color);
}

#coding.active {
    left: 1%;

    opacity: 1;
}



#brain_dump {
    top: 2%;
    left: 101%;
    flex-direction: row;

    opacity: 0;
    background-color: var(--brain_dump_color);
}

#brain_dump * {
    transition: all 0.3s;
}

#brain_dump.active {
    left: 1%;

    opacity: 1;
}

#brain_dump > div {
    height: 100%;

    transition: all var(--brain_dump_navbar_transition_time);
}

#brain_dump_navbar {
    width: var(--brain_dump_navbar_width);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#brain_dump_navbar.active {
    width: var(--brain_dump_navbar_active_width);
}